/*standard on every file*/

@media (max-width: 360px) {
    html{
        font-size: 1.4vw;
    }

}

@media (min-width: 361px) {
    html{
        font-size: 2vw;
    }
}

/*standard on every file*/

.container {
   position: absolute;
   margin: auto;
}

.container h2 {
    padding-bottom: 10px;
    font-size: 1.3em;
}

.container p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}