/*standard on every file*/

@media (max-width: 360px) {
    html{
        font-size: 1.4vw;
    }
    
}

@media (min-width: 361px) {
    html{
        font-size: 2vw;
    }
}

/*standard on every file*/

html{
    background-color: #bc48c7;
} /* test */
form{
    margin: 0;

}

.selector{
   height: 3em;
   width: 3em;
   background-color: white;
}

#currentColor{
   height: 3em;
   width: 3em;
}
.mainBoxes{
    text-align: left;
    width: 11em;
    min-height: 10em;
    padding: 1em;
    font-size: 1em;
    background-color: #f1cbf5;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

input, label{
    width: 100%;

}
#responseBox{

}
#heading{
    text-decoration: wavy brown;
    font-size: 2em;

}

#guide {
   background-color: #4d94ff;
   margin: 0 3em;
    font-size: 1em;
}