body, html {
    height: 100%;
}

.bg {
    background-image: url("../img/Splash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    opacity: 0.5;
}

.midcontainer {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}