<!DOCTYPE html>
<html>
    <head>
        {{include 'standard.html'}}
        <title>Homework Cleaner | Teemo is the worst champ dont play him</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/about.css">
        <!-- testing -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
    </head>
    <body>
        
        <!-- navbar -->
        {{include 'navbar.html'}}


        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 container">
                <h2>How it works</h2>
                <p>Our system takes an image and determines the side of the image based on the marker line that the
                    user has made on their paper. It then binarizes the image so that it is easier for the computer
                    to read, and then identifies letters based on the blobs of black pixels. The program then identifies
                    the lowest point of each letter. If the lowest point of each letter is consistent throught the
                    entire sentence, the program assumes that it is computer generated text. It will then crop off
                    everything below that line (plus a buffer so that it doesn't cut off the dangling parts of letters
                    like g and p). This cropped portion will then be pasted onto a new image. This repeats for every
                    sentence in the image until there is no more text to read. In the end, you will have an image with
                    only the computer generated text in it.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8 container">
             <h2>Stuggles</h2>
             <p>We faced many stuggles in completing this project. First and foremost was how we would be able to seperate handwriting from 
                written text. Then other factors soon complicated things, the one that we are most proud of is when the python module that
                worked well on our local machines, failed to process large images fast enough. We were able to overcame this by resizing 
                the image which drasticly improved the 
                time it took to process the images. There were many things that we had wanted to do but ran out of time, such as a
                auto-aliner, which would straighten the image to produce a better result.
                All and all, enjoy our CS intro Final project. 
             </p>
         </div>
         <div class="col-md-2"></div>
     </div>



    </body>
</html> 