<!DOCTYPE html>
<html>
    <head>
        {{include 'standard.html'}}
        <title>Homework Cleaner | Teemo is the worst champ dont play him</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/about.css">
        <!-- testing -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
    </head>
    <body>
        
        <!-- navbar -->
        {{include 'navbar.html'}}


        <div class="row">
            <div class="col-md-2"></div>
                  <div style="text-align: center;">
               <div class="col-md-8 container" style="text-align: left;">
                  <h2>About</h2>
                  <p>
  Name: Homework Cleaner
  <br>Authors: Jason Jiang and Ethan Shan
  <br>What it does: Cleans images of worksheets by removing handwriting
  </p>
      Diffrences with Project Proposal:
   <ol>
            <li> Does not do a perfect job, and can leave bits of handwriting on the image/ cut off bits of typed words
       </li>
       <li>
           Requires User to submit background color
  </li>
  
  </ol>
  
   
  Problems/It would be best to not submit:
        <ol>
  
       <li>
           User should scan the image, to make sure the page is exactly/ close to perfectly vertical
       </li>
       <li>
           Fonts where the words are connected/overlap each other
            </li>
            <li>
               pages with images
            </li>
        <li>
            Short Typed Sentences
            </li>
           <li> 
              animated gif
            </li>
            <li>
                Super neat handwriting
            </li>
            <li>
                
   Tiny Font</li></ol>

               Sources of Code:
               <ol>
                  <li>Navbar: Previous Project</li>
                  <li>Refresher on ajax: https://www.sanwebe.com/2016/07/ajax-form-submit-examples-using-jquery</li>
                  <li>traceback.print_exc(): this single command saved us from so much pain: stackoverflow, lost the link</li>

               </ol>
               Interesting insight/Experiences:
               <br>
               Insight: 
               <ul>
                  <li>we used blob detection, however I didnt know what that phrase meant untill after i had built that code which was cool.</li>
                  <li>We ran into a major issue a day before submision where the request connection timed out before our python script completed, and we were able to work around it
                     by rescaling the image to a specific size
                  </li>
                  <li>
                     Ran into a recursive depth problem, but by writing it in diffrent way using a queue and for loop, we were able to overcome it
                  </li>
               </ul>
               Experiences: 
               <ul>
                  <li>Pulled my first all nighter</li>
                  <li>Learned about canvas and how to use them</li>
                  
               </ul>
               Acknowledgement: Stack Overflow, debugging would have been 10x harder
              </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        



    </body>
</html> 