<!DOCTYPE html>
<html>
    <head>
        {{include 'standard.html'}}
        <title>Homework Cleaner | Erase your handwritten Work</title>
        <link rel="stylesheet" href="{{root}}css/clean.css">
        <!-- testing -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
        <script src="{{root}}js/clean.js"></script>
        <!-- npm bundle for js modules -->
        <script src="bundle.js"></script> 
    </head>
    <body>
        <!-- navbar -->
        {{include 'navbar.html'}}
        <div id='responseBox'></div>

        <div id='formArea'>
            <div id='submitImg' class='mainBoxes'>
                
               <span id='heading'>Clean Your Work</span>

                  <!-- How to -->
                  <!-- <a href="#Guide"> -->
                     <button onclick='toggleGuide()' id='toggleGuide'>User Guide</button>
                  <!-- </a> -->

                  <input id="picture" type="file" accept="image/*" capture>
                  <button onclick="move(1)">Next</button> 

            </div>


               <!-- get the user's marker color and background paper color -->
            <div id='dropper' class='mainBoxes'>

               <span id='heading'>Clean Your Work</span>
               <button onclick='toggleGuide()' id='toggleGuide'>User Guide</button>

               
               

                        <table>
                           <tr>
                              <td>
                                 Choose Marker Color Below:
                              </td>
                              <td>
                                 Choose Background Color Below:
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <div id='markerColor' onclick="eyeDropper(0)" class='selector'></div>
                              </td>
                              <td>
                                 <div id='backColor' onclick="eyeDropper(1)"class='selector'></div>
                              </td>
                           </tr>
                           <tr>
                              <td>
                        <button onclick="move(-1)">Previous</button> 
                     </td><td>
                        <button onclick="move(1, true)">Next</button> 
                     </td>
                     </tr>
                        </table>

            </div>


         </div>
         <div class='mainBoxes' id='dropperPanel'>
            <span id='DropperHeading'></span>
            <canvas id='mainCanvas'></canvas>
            <div id='currentColorContainer'>
               <span>Current Color</span>
               <div id='currentColor'></div>               
            </div>
         </div>

         <div class='mainBoxes' id='finalSubmit'>
            <span id='heading'>Its Time to Clean Your Work</span>
            <button id='submit'>Submit</button>

         </div>


            <div id="Guide">
               <h1>
                  How To Use Our HandWriter Eraser 
                     <button onclick='toggleGuide()' id='toggleGuide'>Return to Cleaner</button>
                  
               </h1>
               <ol>
                  <li>
                     Using a marker in a color other than black, draw a line exactly on the left edge of the paper starting from the top right, to about a tenth of the way down
                  </li>
                  <li>
                     Make sure the paper is right side up
                  </li> 
                  <li>
                     Take the picture as straight as you can
                  </li>
                  <li>
                     Upload the file, and press next
                  </li>
                  <li>
                     Use the dropper to give us the color of the marker that you've marked the top left corner with
                  </li>
                  <li>
                     (Optionally) In the next step change the default variables that will be used to prossess the images
                  </li>
                  <li>
                     Finally, look at the final image, you can choose to re process it with diffrent variables, or manually white out the image
                  </li>

               </ol>
               <p>.... Now what else is there to know?</p>
               <h1>
                  What is allowed:
               </h1>
               <ol>
                  <li>
                     all sizes of paper and orientation (landscape is acceptable)
                  </li>

               </ol>
               <h1>
                  What will affect our performance:
               </h1>
               <ol>
                  <li>
                     Fonts where the words are connected/overlap each other
                  </li>
                  <li>
                     Short Typed Sentences
                  </li>
                  <li>
                     Slanted typed words (ex. bad printing job)
                  </li>
                  <li>
                     Dont submit an animated gif... we'll stop u
                  </li>
               </ol>

            </div>
    </body>
</html> 