<!DOCTYPE html>
<html>
    <head>
        <title>Homework Cleaner | Home Page</title>
        {{include 'standard.html'}}
        <script src="{{root}}js/home.js"></script>
      <link rel="stylesheet" href="{{root}}css/home.css">
    </head>
    <body>
        <!-- Nav bar -->
        {{include 'navbar.html'}}
        <div class="bg">
            <div class="midcontainer">
                <h1>Handwriting cleaner</h1>
                <h3>A simple and fast handwriting remover for images</h3>
                <p>Made by Jason Jiang and Ethan Shan</p>
            </div>
        </div>
    </body>
</html> 