<!DOCTYPE html>
<html>
    <head>
        <title>Homework Cleaner | Home Page</title>
        {{include 'standard.html'}}
        <script src="/~jjiang20/introCSfinalSecond/js/home.js"></script>
        <link rel="stylesheet" href="/~jjiang20/introCSfinalSecond/css/home.css">
    </head>
    <body>


        <!-- Nav bar -->
        {{include 'navbar.html'}}
            
            <H1>
                About this project:
            </H1>
            <h2>
                What is the purpose?
            </h2>

    </body>
</html> 